/Exemplo/build/
/DiagramaUML/nbproject/private/
/Exemplo/nbproject/private/
/cincoNum/build/
/dezNum/build/
/matriz/build/
/DiagramaUML/build/
/AulaDia01-11/Mega/nbproject/private/
/AulaDia01-11/Mega/build/
/dezNum/nbproject/private/
/matriz/nbproject/private/
/AulaDia01-11/Agenda_ETEC/nbproject/private/
/Agenda_ETEC/nbproject/private/
/Agenda_ETEC/build/
/Iniciação_em_BD/Agenda_ETEC/build/
/Iniciação_em_BD/Agenda_ETEC/nbproject/private/